.main {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: #161f2d;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: repeat(13, 1fr);
}
.home {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 14;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  border: 1px white solid;
}
.tweet {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 5;
  /* background-color: red; */
  border: 1px white solid;
}
.lasttweet {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 14;
  /* background-color: yellow; */
  border: 1px white solid;
}
.trend {
  grid-column-start: 10;
  grid-column-end: 14;
  grid-row-start: 1;
  grid-row-end: 14;
  /* background-color: pink; */
  border: 1px white solid;
}
.logo {
  height: 7%;
  /* margin-top: 10%; */
  /* margin-left: 10%; */
  background-color: green;
}
.oeuf {
  /* height: 10%; */
  height: 3em;
  border-radius: 50%;
  background-color: pink;
  /* margin-left: 10%; */
  background-color: red;
}
.userContainer {
  /* width: 100%; */
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
