.main {
  height: 30%;
  display: flex;
  /* background-color: red; */
  padding: 10px;
  flex-direction: column;
  border-bottom: 0.5px #4a5564 solid;
  overflow: auto;
}
.oeuf {
  /* height: 10%; */
  height: 3em;
  border-radius: 50%;
  margin-top: 15px;

  /* margin-left: 10%; */
}
.name {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 25px;
  color: white;
}
.userInfo {
  display: flex;
  margin-top: 13px;
  margin-left: 20px;
  color: white;
}
.header {
  display: flex;
}
.userName {
  margin-left: 10px;
  margin-top: 28px;
  color: #4a5564;
}

.point {
  margin-left: 10px;
  margin-top: 28px;
  color: #4a5564;
}
.hours {
  margin-left: 10px;
  margin-top: 28px;
  color: #4a5564;
}

.text {
  color: white;
}
.coeur {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  margin-right: 620px;
}
